{% load static %}
<nav
        id="main-navbar"
        class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
>
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggler -->
        <button
                data-mdb-toggle="sidenav"
                data-mdb-target="#sidenav-1"
                class="btn shadow-0 p-0 me-3 d-block d-xxl-none"
                aria-controls="#sidenav-1"
                aria-haspopup="true"
        >
            <i class="fas fa-bars fa-lg"></i>
        </button>


        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <li>
                <a class="nav-link mr-3 mr-lg-0" href="#">
                    <i class="fas fa-sign-out-alt fa-lg" style="color:darkgreen"></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Container wrapper -->
</nav>