{% load static %}

<nav
        id="sidenav-1"
        class="sidenav"
        data-mdb-hidden="false"
        data-mdb-accordion="true"
>
    <a
            class="ripple d-flex justify-content-center"
            href="{% url 'home' %}"
            data-mdb-ripple-color="primary"
    >
        <img
                id="Izoor-logo"
                src="{% static "img/logo_long_2021-08.svg" %}"
                alt="Izoor Logo"
                draggable="false"
                class="px-5 py-1 shadow-1-strong mb-4"
                height="60"
        />
    </a>

    <ul class="sidenav-menu font-weight-bold">
        <li class="sidenav-item">
            <a class="sidenav-link" href="{% url 'home' %}">
                <i class="fas fa-chart-area pr-3"></i
                ><span>Main page</span></a
            >
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" href="{% url 'test_func' %}">Test function</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"
            ><i class="fas fa-building pr-3"></i><span>Organizations</span></a
            >
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link" href="{% url 'org_list' %}">List of Orgs</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link"
            ><i class="fas fa-cogs pr-3"></i><span>Foods</span></a
            >
            <ul class="sidenav-collapse">
                <li class="sidenav-item">
                    <a class="sidenav-link" href="#">Huuds</a>
                </li>
                <li class="sidenav-item">
                    <a class="sidenav-link">Account</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>






